# Dependências
/node_modules

# Ambiente do Expo
.expo/
.expo-shared/

# Configurações do Metro
metro.config.js

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente do Android
android/.gradle
android/.idea
android/app/build
android/build
android/local.properties

# Ambiente do iOS
ios/build
ios/Pods
ios/*.xcworkspace

# Variáveis de ambiente
.env